@page
@inherits EasyAbp.UniappManagement.Web.Pages.UniappManagementPage
@model EasyAbp.UniappManagement.Web.Pages.UniappManagement.IndexModel
@{
}
<h1>UniappManagement</h1>
<p>A sample page for the UniappManagement module.</p>